.btn{
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    font-weight: bold;
}
.primary-btn{
    background-color:#6c25ff;
   color: white;
}
.secondary-btn{
    background-color: #cebafb;
    color: #1d1d1d;

}
.input{
 width: 100%;
 padding: 8px;
 margin-top: 16px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 14px;

}