*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f7f8f9;
  display: grid;
  place-items: center;
  min-height: 100vh;
}
p{
  color: lightgray;
  font-size: 15px;
  margin-bottom: 20px;
}
h2{
font-size: 22px;
font-weight: 700;
margin-bottom: 8px;
}

.mobile-wrapper{
  width: 100%;
  max-width: 330px;
  min-height: 620px;
  background-color: #fff;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.8);
  overflow-y: auto;
}
@media (min-width: 768px){
  .mobile-wrapper{
    max-width: 400px;
  }
}
